<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dynamitey" version="2.0.9.136" targetFramework="net452" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net452" />
  <package id="SpecFlow" version="3.6.23" targetFramework="net452" />
  <package id="SpecFlow.Assist.Dynamic" version="1.4.2" targetFramework="net452" />
  <package id="SpecFlow.NUnit" version="3.6.23" targetFramework="net452" />
</packages>